@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	pad: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
/*	margin-left: 25%;
	margin-right: 25%;*/
	margin: 0% 25% 0% 25%;
}

h1 {
	text-align: center;
}

h3 {
	margin:0 ;
	padding-top: 0.5em;
	border-bottom: 1.5px solid black;
	margin-bottom: 0.5em;
}

article {
	display: flow-root;
}

img {
	float: left;
/*	display: none;*/
	margin-right: 1rem;
}

.in4 {
	margin: 0% 0% 0% 10%;
}

ul li {
	list-style-type: none;
	padding-right: 10px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: dodgerblue;
}

a:active {
	color: red;
}

.row {
/*	border-bottom: 1px solid blue;*/

}

td {
	padding-left: 2em;
}

th {
/*	padding-right: 2em;*/
/*	padding: 1em, 1em, 1em, 1em;*/
}
